<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>default</key>
	<dict>
		<key>Color</key>
		<dict>
			<key>导航背景色</key>
			<string>0x996666</string>
			<key>tab背景色</key>
			<string>0xFFFFFF</string>
			<key>tab颜色</key>
			<string>0x69718B</string>
			<key>tab点击高亮色</key>
			<string>0x547FF7</string>
			<key>view背景色</key>
			<string>0xF5F5F5</string>
		</dict>
		<key>Image</key>
		<dict>
			<key>顶部图片</key>
			<string>https://lele8446infoq.oss-cn-shenzhen.aliyuncs.com/cjskin/default.jpg</string>
			<key>Image</key>
			<string>http://www.pptbz.com/pptpic/UploadFiles_6909/201306/2013062320262198.jpg</string>
		</dict>
		<key>Font</key>
		<dict>
			<key>文字一</key>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Size</key>
				<string>20</string>
			</dict>
			<key>详情</key>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Size</key>
				<string>20</string>
			</dict>
		</dict>
	</dict>
	<key>skin1</key>
	<dict>
		<key>Color</key>
		<dict>
			<key>导航背景色</key>
			<string>0x00CED1</string>
			<key>tab背景色</key>
			<string>0xF2F2F2</string>
			<key>tab颜色</key>
			<string>0x67708C</string>
			<key>tab点击高亮色</key>
			<string>0x64DFFB</string>
			<key>view背景色</key>
			<string>0xE6E6FA</string>
		</dict>
		<key>Image</key>
		<dict>
			<key>顶部图片</key>
			<string>https://ss1.baidu.com/9vo3dSag_xI4khGko9WTAnF6hhy/image/h%3D300/sign=a8d02e1ccecec3fd943ea175e68ad4b6/1f178a82b9014a90e7c1956da4773912b21bee67.jpg</string>
		</dict>
		<key>Font</key>
		<dict>
			<key>文字一</key>
			<dict>
				<key>Name</key>
				<string>Marker Felt</string>
				<key>Size</key>
				<string>20</string>
			</dict>
			<key>详情</key>
			<dict>
				<key>Name</key>
				<string>Marker Felt</string>
				<key>Size</key>
				<string>15</string>
			</dict>
		</dict>
	</dict>
	<key>skin2</key>
	<dict>
		<key>Color</key>
		<dict>
			<key>导航背景色</key>
			<string>0x454545</string>
			<key>tab背景色</key>
			<string>0xF2F2F2</string>
			<key>tab颜色</key>
			<string>0x67708C</string>
			<key>tab点击高亮色</key>
			<string>0x454545</string>
			<key>view背景色</key>
			<string>0xC0C0C0</string>
		</dict>
		<key>Image</key>
		<dict>
			<key>顶部图片</key>
			<string>https://lele8446infoq.oss-cn-shenzhen.aliyuncs.com/cjskin/top.jpeg</string>
		</dict>
		<key>Font</key>
		<dict>
			<key>文字一</key>
			<dict>
				<key>Name</key>
				<string>Kefa</string>
				<key>Size</key>
				<string>20</string>
			</dict>
			<key>详情</key>
			<dict>
				<key>Name</key>
				<string>Kefa</string>
				<key>Size</key>
				<string>12</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
